<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Search Query:</h4>
      <input type="text" class="form-control" [(ngModel)]="querytext" />
      <div class="border p-3">
        <h4>Relevance Transform</h4>
        <form>
          <table class="table">
            <thead>
              <tr>
                <th>Transform</th>
                <th>Fraction</th>
                <th>Part Name</th>
                <th>Value</th>
                <th>Operator</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let transformRow of relevanceTransforms; let i = index"
              >
                <td>
                  <select
                    class="form-select"
                    [(ngModel)]="transformRow.transform"
                    name="transform"
                    title="Part name boost -> Updates the global relevance based on the presence of at least one query term in a disjunction or conjunction of part names"
                  >
                    <option value="PartNameBoost">PartNameBoost</option>
                  </select>
                </td>

                <td>
                  <input
                    type="number"
                    class="form-control"
                    [(ngModel)]="transformRow.fraction"
                    name="fraction"
                    title="Fraction -> Corresponds to an attribute of the Part Name Boost-type transformation, used to define the minimum number of words (in terms of percentage of the number of findable search terms in the query) for the boosting to apply. The fraction attribute value is an integer comprised between 0 and 100."
                  />
                </td>
                <td>
                  <select
                    class="form-control"
                    [(ngModel)]="transformRow.partName"
                    name="partName"
                    title="Part names -> Indicates the name of the part nameClosed on which the transformation will apply. A part name corresponds to a specific area within the indexed documents. You can reference up to 64 part names."
                  >
                    <option value="">Select Part Name</option>
                    <option
                      *ngFor="let partName of transformRow.partNames"
                      [value]="partName"
                    >
                      {{ partName }}
                    </option>
                  </select>
                </td>
                <td>
                  <input
                    type="number"
                    class="form-control"
                    [(ngModel)]="transformRow.value"
                    name="value"
                    title="Value -> Indicates the value of the action to be taken in order to change the global relevance. The action type is set in the Action option."
                  />
                </td>
                <td>
                  <select
                    class="form-select"
                    [(ngModel)]="transformRow.operator"
                    name="operator"
                    title="Operator -> Indicates the type of operator for the transformation. The two possible operators are: 'or' and 'and'. 'or' indicates that the relevance transform rule applies when the minimum number of words set in the Fraction option is reached when considering the union of all the specified part names. 'and' indicates that the relevance transform rule applies when the minimum number of words set in the Fraction option is reached in each of the specified part names."
                  >
                    <option value="and">AND</option>
                    <option value="or">OR</option>
                  </select>
                </td>
                <td>
                  <button
                    class="btn btn-danger"
                    (click)="removeRelevanceTransform(i)"
                  >
                    Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-end">
            <button class="btn btn-success" (click)="addRelevanceTransform()">
              Add Row
            </button>
          </div>
        </form>
      </div>
      <div class="border p-3 mt-3">
        <h4>Part Name Weight</h4>
        <form>
          <div class="mb-3" *ngFor="let row of partNameWeights; let i = index">
            <div class="row">
              <div class="col">
                <label for="partName{{ i }}" class="form-label"
                  >Part Name:</label
                >
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="row.partName"
                  [name]="'partName' + i"
                  [id]="'partName' + i"
                  title="Indicates the name of the document part (defined in the settings of a collection)."
                />
              </div>
              <div class="col">
                <label for="partWeight{{ i }}" class="form-label"
                  >Weight:</label
                >
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="row.partWeight"
                  [name]="'partWeight' + i"
                  [id]="'partWeight' + i"
                  title="Indicates the weight given to the document part. The value is either an integer or floating number comprised between 0 and 100."
                />
              </div>
              <div>
                <button class="btn btn-danger" (click)="removeRow(i)">
                  Remove
                </button>
              </div>
            </div>
          </div>
          <div class="text-end">
            <button class="btn btn-success" (click)="addRow()">Add Row</button>
          </div>
        </form>
      </div>

      <button class="btn btn-primary mt-3" (click)="sendPostRequest()">
        Check Relevance
      </button>
    </div>
    <div class="col-md-6">
      <div class="border p-3">
        <h4>Preview:</h4>
        <div class="scrollable-container">
          <div class="scrollable-content">
            <div class="card" *ngFor="let record of records">
              <div class="card-body">
                <h6>{{ record.title }}</h6>
                <p>GlobalRelevance: {{ record.globalrelevance }}</p>
                <p>WordScoreRelevance: {{ record.wordscorerelevance }}</p>
                <p>WordsRelevance: {{ record.wordsrelevance }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
