label {
  display: block;
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

ul {
  margin-top: 10px;
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.scrollable-container {
  height: 400px; /* Set the desired height */
  overflow-y: auto; /* Enable vertical scrollbar */
}

.scrollable-content {
  padding-right: 15px; /* Add right padding to avoid scrollbar overlay */
}
