<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="border p-3">
        <h4>Relevance Transform</h4>
        <form>
          <div class="mb-3">
            <label for="querytext" class="form-label">Query Text:</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="querytext"
              name="querytext"
              id="querytext"
            />
          </div>
          <div class="mb-3">
            <label for="fraction" class="form-label">Fraction:</label>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="fraction"
              name="fraction"
              id="fraction"
            />
          </div>
          <div class="mb-3">
            <label for="partName" class="form-label">Part Name:</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="partName"
              name="partName"
              id="partName"
            />
          </div>
          <div class="mb-3">
            <label for="value" class="form-label">Value:</label>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="value"
              name="value"
              id="value"
            />
          </div>
          <div class="mb-3">
            <label for="operator" class="form-label">Operator:</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="operator"
              name="operator"
              id="operator"
            />
          </div>
        </form>
      </div>

      <button class="btn btn-primary mt-3" (click)="sendPostRequest()">
        Check Relevance
      </button>
    </div>
    <div class="col-md-6">
      <div class="border p-3">
        <h4>Preview:</h4>
        <div class="scrollable-container">
          <div class="scrollable-content">
            <div class="card" *ngFor="let record of records">
              <div class="card-body">
                <h6>{{ record.title }}</h6>
                <p>GlobalRelevance: {{ record.globalrelevance }}</p>
                <p>WordScoreRelevance: {{ record.wordscorerelevance }}</p>
                <p>WordsRelevance: {{ record.wordsrelevance }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
